div.content{position:absolute;}
div.sub{position:absolute;top:400px;}
div.p1{font-family:arial;font-size:15px;display:block;width:150px;position: relative;left:35px;top:-235px;z-index:-1;}

div.p2{font-family:arial;font-size:15px;display:block;width:150px;position: relative;left:235px;top:-295px;z-index:-1;}

div.p3{font-family:arial;font-size:15px;display:block;width:150px;position: relative;left:435px;top:-355px;z-index:-1;}

div.mm{font-family:arial;font-size:15px;display:block;width:150px;position: relative;left:640px;top:-410px;z-index:-1;}
